@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0px;
  /* background-color: black; */
}


@layer components {
  .hero-slider p:nth-child(2) {
    @apply absolute left-[100%];
  }

  .project-gallery-project{
    transition: all 0.2s;
  }

  .project-gallery-project h2 {
    transition:  all 0.4s;
  }

  .project-gallery-project p {
    transition: all 0.4s;
  }

  .project-modal-slider {
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .header-burger::before, .header-burger::after {
    content: "";
    display: block;
    width: 40%;
    background-color: white;
    height: 1px;
    margin: auto;
    position: relative;
    transition: transform 0.3s;
  }

  .header-burger::after {
    top: -5px;
  }
  .header-burger::before {
    top: 5px;
  }
}

