@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0px;
  /* background-color: black; */
}


@layer components {
  .hero-slider p:nth-child(2) {
    @apply absolute left-[100%];
  }

  .project-gallery-project{
    transition: all 0.2s;
  }

  .project-gallery-project h2 {
    transition:  all 0.4s;
  }

  .project-gallery-project p {
    transition: all 0.4s;
  }
}

